@model hotelapp_frontend.Models.Habitacion

@{
    ViewData["Title"] = "Create Room";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">

<section class="rooms-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h2>Ekle</h2>
                    <div class="bt-option">
                        <a asp-area="" asp-controller="Room" asp-action="Index">Odalar</a>
                        <span>Yeni Oda Oluştur</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                @using (Html.BeginForm("Crear", "Room", FormMethod.Post))
                {
                    <div class="ri-text">
                        <div class="form-group">
                            <label for="NombreHabitacion">İsim:</label>
                            <input type="text" id="NombreHabitacion" name="NombreHabitacion" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="Descripcion">Tanım:</label>
                            <textarea id="Descripcion" name="Descripcion" class="form-control" maxlength="500" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="Path_Img">Resim URL:</label>
                            <input type="text" id="Path_Img" name="Path_Img" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="CantPersonas">Kapasite:</label>
                            <input type="number" id="CantPersonas" name="CantPersonas" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="CantCamas">Yatak Sayısı:</label>
                            <input type="number" id="CantCamas" name="CantCamas" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label for="CostoNoche">Gecelik Maliyet:</label>
                            <input type="number" id="CostoNoche" name="CostoNoche" class="form-control" required>
                        </div>
                        <button type="submit" class="create-btn">Oluştur</button>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
