@model hotelapp_frontend.Models.PasswordReset

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="forgot-password-section spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h2 class="text-center">Şifremi Unuttum</h2>
                    </div>
                    <div class="card-body">
                        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "needs-validation", novalidate = "novalidate" }))
                        {
                            <div class="form-group">
                                <label asp-for="Email">E-Posta:</label>
                                <input asp-for="Email" class="form-control" required>
                                <div class="invalid-feedback">Lütfen E-postanızı girin.</div>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Şifreyi Yenile</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>